body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}
a, .sub-text, .action-info, .footer-content {
    font-size: 18px;
    color: #E5E7EB;
}
.text-logo {
    font-size: 24px;
    color:#F9FAF8
}
.header, .welcome,.footer {
    background-color: #1F2937;
    
    
}
.image-logo {
    width: 70px;
    height: 50px;
    
    
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 15px
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 16px 0 0 12px;
    gap: 650px;
    
    
    
}
.logo {
    display: flex;
    flex-direction: column;
    
    
    
}
.welcome-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0;
}
button {
    background-color: #3882F6;
    color:#FFFFFF;
    width: 100px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
    border-color: #3882F6;
    border-radius: 6px;
}
.added-value {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.quote {
    background-color: #E5E7EB;
}
.quote-text {
    font-size:36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937 ;
}
.quote-author {
    font-size: 20px;
    font-weight: bold;
}
.subscribe {
    background-color: #3882F6;
}
.action {
    font-size: 20px;
    color: #FFFFFF
}
.image-text {
    font-size: 18px;
    color: #000000;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.footer-content {
    white-space: pre;
}
.welcome-image {
    width: 400px;
    height: auto;
    padding-bottom: 100px;
}
.welcome {
    display: flex;
    justify-content: space-evenly;
}
.welcome-info {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.sub-text {
    margin-top: 0;
}